
.open-sans-nornal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.primary{
    color: #FD6E0A;
}
/* Nab styles */
nav{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
}